server {
  listen 443 ssl http2;
  server_name  uuudesign.com ~^(?<subdomain>[^\.]+)\.uuudesign\.com$;

  ssl_certificate /etc/nginx/ssl/certificate/fullchain.pem;
  ssl_certificate_key /etc/nginx/ssl/certificate/privkey.pem;

  add_header Pragma "public";
  add_header Cache-Control "public";

  access_log off;

  return 301 https://uuusoftware.com$request_uri;

  gzip on;
  # gzip_types text/html already included by default
  gzip_types text/plain text/css text/javascript image/svg+xml image/x-icon application/javascript application/x-javascript application/json;

  brotli on;
  # brotli_types text/html already included by default
  brotli_types text/plain text/css text/javascript image/svg+xml image/x-icon application/javascript application/x-javascript application/json;
}
